.vs/
*.suo
*.user
*.rsuser
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.cache
*.ilk

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# VS Code
.vscode/

# ASP.NET Core
appsettings.json
appsettings.Development.json
appsettings.*.json

# EF Core Migrations history
*Migrations/

# Database files
*.mdf
*.ldf
*.ndf

# IIS Express
IISExpress/

# Publish output
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
~$*

# Node/npm artifacts 
node_modules/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# DotCover, Coverlet
*.dotCover
coverage*.xml
coverage*.json
coverage*.info

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Others
*.log
*.tmp
*.temp
