@* @{ *@
@* 	ViewData["Title"] = "Clients"; *@
@* } *@

@* <section id="clients"> *@
@* 	<header> *@
@* 		<h2>Clients</h2> *@
@* 		<button type="button" class="btn btn-add btn-blue">Add Client</button> *@
@* 	</header> *@
@* </section> *@